{% extends "base.html.twig" %}
{% block body %}
    <h1>Фильтр</h1>
{#    <form name="form">#}
{#        <div>username</div>#}
{#        <input type="text" value="{{ filter.username }}" name="form[username]"/>#}
{#        <div>firstname</div>#}
{#        <input type="text" value="{{ filter.firstname }}" name="form[firstname]"/>#}
{#        <div>lastname</div>#}
{#        <input type="text" value="{{ filter.lastname }}" name="form[lastname]"/>#}
{#        <div>email</div>#}
{#        <input type="text" value="{{ filter.email }}" name="form[email]"/>#}

{#        <button type="submit" name="form[submit]">Submit</button>#}
{#    </form>#}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <h1>Люди</h1>

    <table>
        {% for user in users %}
            <tr>
                <td>{{ user.username  }}</td>
                <td>{{ user.firstname  }}</td>
                <td>{{ user.lastname  }}</td>
                <td>{{ user.email  }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}